h1, p {
    text-align: center;
}
#body {
    text-align: center;
}
li:hover {
    background-color: green;
    transition: 0.5s;
}
li:active {
    font-family: sans-serif;
}
li {
    list-style: none;
}